<h3>
  Tu historial de compras
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Product ID</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>U. Price</th>
      <th>Total</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.billing.code %></td>
        <td><%= order.product.id %></td>
        <td><%= order.product.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.price %></td>
        <td><%= order.price * order.quantity %></td>
        <td><%= order.billing.created_at.strftime('%d/%m/%Y at %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>