
<% if @orders.any? %>
  <br>
  <%= link_to empty_cart_orders_path, class: 'btn btn-danger', method: :delete do %>
    <i class="fas fa-trash"></i>
  <% end %>
  <br><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.product.id %></td>
          <td><%= order.product.name %></td>
          <td><%= order.product.price %></td>
          <td>
            <% if order.quantity > 1 %>
              <%= link_to order_remove_one_item_path(order.id), method: :patch do %>
               <i class="far fa-minus-square"></i>
              <% end %>
            <% end %>
            <%= order.quantity %>
            <%= link_to product_orders_path(order.product.id), method: :post do %>
              <i class="fas fa-plus-square"></i>
            <% end %>
          </td>
          <td><%= order.product.price * order.quantity %></td>
          <td>
            <%= link_to order_path(order.id), method: :delete do %>
              <i class="fas fa-times-circle"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td><td></td><td></td><td></td>
        <td class="text-right"><strong>TOTAL:</strong></td>
        <td><strong><%= @total %></strong></td>
      </tr>
    </tbody>
  </table>
<% else %>
  No tienes productos en el carro... <br><br>  
<% end %>



 

<%= link_to 'Back', products_path, class: 'btn btn-info' %>

<%= link_to '<i class="fas fa-dollar-sign"></i> Buy'.html_safe, pre_pay_billings_path, class: 'btn btn-success', method: :post %>

