<p id="notice"><%= notice %></p>

<h1 class="text-center">Products</h1>

<div class="row">
  <% @products.each do |product|  %>
    <div class="card col-sm-3 text-center p-3">
      <img class="card-img-top img-fluid" src="<%= product.photo %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <h6 class="card-title">$<%= product.price %></h6>
        <%= link_to 'Add to Cart', product_orders_path(product.id), class: 'btn btn-primary', method: :post %>
        <% if user_signed_in? %>
          <%= link_to product_wishlists_path(product.id), method: :post do %>
            <% if current_user.wishlists.pluck(:product_id).include? product.id %>
              <i class="fas fa-star" style="font-size: 1.5rem;"></i>
            <% else %>
              <i class="far fa-star" style="font-size: 1.5rem;"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<%#= link_to 'Show', product, class:"badge badge-success" %>
<%#= link_to 'Edit', edit_product_path(product) %>
<%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>


<%#= link_to 'New Product', new_product_path, class:"badge badge-primary" %>
